<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- GitConfigName and GitConfigEmail are used for commiter/auther commit details-->
      <add key="GitConfigName" value="My Name" />
      <add key="GitConfigEmail" value="my@email.com" />

      <!-- GitRemoteRepoUrl value will be used as remote origin and authenticate using
      GitRemoteRepoUsername and GitRemoteRepoPassword.
      This url value can be changed within the application. -->
      <add key="GitRemoteRepoUrl" value="http://hostname/username/repository.git" />
      <add key="GitRemoteRepoUsername" value="username" />
      <add key="GitRemoteRepoPassword" value="password" />
    </appSettings>
</configuration>